<table summary="Subject form fields">
	
  <tr>
    <th>Category Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Address	</th>
    <td><%= f.text_field(:address) %></td>
  </tr>
  <tr>
    <th>PhoneNumber</th>
    <td><%= f.text_field(:phonenumber) %></td>
  </tr>
  <tr>
    <th>Notes</th>
    <td><%= f.text_field(:notes) %></td>
  </tr>

</table>