<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>
<p> Hello world </p>

<p> The route file has root configuration (as shown below) which takes be to this page. </p>
<p> root :to => "demo#index" </p>
<p> To get the rails default root page, Comment that file in routes.rb and rename the file from existing to public/index.html </p>
<%= link_to("Go back to hello page", {:action => 'hello', :id => 20 , :page => 5})%>


<%= image_tag('rails.png')%>